# Python-related files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Virtual environment
venv/

# Flask-related files
instance/
*.log

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.code-workspace

# Other
*.swp
*.swo